.nav-content {
  background-image: url(../img/landingPage/content/backgroundnav.jpg);
  background-size: cover;
  width: 100%;
  height: 650px;
}

.opacity {
  width: 100%;
  height: 650px;
  background: rgba(0, 0, 0, 0.7);
}

.nav .nav-item {
  /* border: 1px solid black; */
  font-family: "Poppins", sans-serif;
  margin-left: 40px;
  color: rgb(189, 176, 176);
}

.nav .nav-item .nav-link {
  color: white;
  opacity: 0.8;
}

.nav .nav-item .nav-link:hover {
  color: rgb(175, 162, 162);
}

.nav-content .wellcome {
  font-family: "Pacifico", cursive;
  /* border: 1px solid black; */
  font-size: 40px;
  margin-top: 170px;
  color: rgb(189, 185, 185);
  /* text-align: center; */
  padding-left: 100px;
}

.nav-content .brand-title {
  font-family: "Pacifico", cursive;
  /* border: 1px solid black; */
  font-size: 100px;
  color: white;
  /* text-align: center; */
  padding-left: 50px;
  text-shadow: 100px 100px 100px rgba(0, 0, 0, 0.25);
}

.nav-content .brand-title-item {
  font-family: "Lato", sans-serif;
  color: rgb(211, 196, 176);
  font-size: 30px;
  padding-left: 50px;
  margin-top: 10px;
}

/* .btn-brand {
  border-radius: 10px;
  border: none;
  width: 150px;
  height: 40px;
  transform: translateX(-50%);

  position: relative;
  left: 50%;
  top: 10px;
} */
/* End Nav Content */

/* ========================== */

/* Main Content */
.main-content {
  /* border: 1px solid black; */
  box-sizing: border-box;
  width: 100%;
  height: 700px;
  background-color: #d0c2b6;
}

.main-content .img-content1 {
  background-image: url(../img/landingPage/content/image2.jfif);
  background-size: cover;
  display: inline-block;
  width: 250px;
  height: 400px;

  margin: 80px 20px 0px 180px;
}

.main-content .img-content2 {
  background-image: url(../img/landingPage/content/image3.jfif);
  background-size: cover;
  display: inline-block;
  width: 250px;
  height: 400px;
}

.main-content .about {
  /* border: 1px solid black; */
  border-radius: 5px;
  background-color: aliceblue;
  display: inline-block;
  width: 500px;
  height: 240px;
  box-sizing: border-box;

  position: relative;
  left: -40px;
  bottom: 100px;
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.25);
}

.main-content .about .title {
  /* border: 1px solid black; */

  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  color: #997357;
  margin: 10px 20px 10px 20px;
}

.main-content .about .content {
  /* border: 1px solid black; */

  margin: 10px 20px 10px 20px;
  font-family: "Poppins", sans-serif;
}

.mapcontent {
  background-image: url(../img/landingPage/content/mapcontent.png);
  border: 1px solid black;
  background-size: cover;
  background-position-y: -60px;
  width: 1000px;
  height: 300px;
  position: relative;
  top: 150px;
  left: -550px;
}
/* End Main Content 1 */

/* ============================= */

/* Main Content 2 */
.main-content2 {
  /* border: 1px solid black; */
  width: 100%;
  height: 1000px;
  background-color: #997357;
}

.main-content2 .title {
  /* border: 1px solid black; */
  border-radius: 10px;
  background-color: aliceblue;
  display: inline-block;
  width: 500px;

  position: relative;
  top: 450px;
  left: 140px;
  z-index: 100;

  box-shadow: -10px 10px 10px 5px rgba(0, 0, 0, 0.25);
}

.main-content2 .title .title-card {
  /* border: 1px solid black; */
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  color: #997357;
  margin: 10px 20px 10px 20px;
}

.main-content2 .title .content-card {
  /* border: 1px solid black; */

  margin: 10px 20px 10px 20px;
  font-family: "Poppins", sans-serif;
}

.card-group {
  /* border: 1px solid black; */
  width: 550px;
  height: 550px;
  position: relative;
  left: 600px;
  top: 70px;

  display: flex;
  flex-direction: column;
}

.card-group .group1 {
  /* border: 1px solid black; */
  flex: 1;

  display: flex;
  flex-direction: row;
}

.card-group .group2 {
  /* border: 1px solid black; */
  flex: 1;

  display: flex;
  flex-direction: row;
}

.card-group .card-image1 {
  background-image: url(../img/landingPage/content/grupcard1.jpg);
  background-size: cover;
  background-position-x: -80px;
  margin: 20px 10px 10px 20px;
  flex: 1;
}
.card-group .card-image2 {
  background-image: url(../img/landingPage/content/grupcard2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 20px 20px 10px 10px;
  flex: 1;
}
.card-group .card-image3 {
  background-image: url(../img/landingPage/content/grupcard3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px 10px 20px 20px;
  flex: 1;
}
.card-group .card-image4 {
  background-image: url(../img/landingPage/content/grupcard4.jpg);
  background-size: cover;
  background-position-x: -20px;
  background-repeat: no-repeat;
  margin: 10px 20px 20px 10px;
  flex: 1;
}
/* End Main Content 2 */

/* ===================================== */

/* Main Menu */
.main-menu {
  /* border: 1px solid black; */
  width: 100%;
  height: 1000px;
  background-color: #ffff;
  background-color: #d0c2b6;
}

.main-menu .title-card {
  /* border: 1px solid black; */
  font-family: "Pacifico", cursive;
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 70px;

  /* margin-top: 40px; */
  margin-bottom: 150px;
  padding-top: 40px;
}

.main-menu .menu-card {
  /* border: 1px solid black; */
  width: inherit;
  height: 700px;
  margin: auto;

  display: flex;
}

.main-menu .menu-card .card1 {
  /* border: 1px solid black; */
  background-image: url(../img/landingPage/content/mainContent1.jfif);
  background-size: cover;
  background-position-x: center;

  flex: 1;
  flex-direction: column;
}
.main-menu .menu-card .card2 {
  /* border: 1px solid black; */
  background-image: url(../img/landingPage/content/mainContent12.jfif);
  background-size: cover;
  background-position-x: center;

  flex: 1;
  flex-direction: column;
}
.main-menu .menu-card .card3 {
  /* border: 1px solid black; */
  background-image: url(../img/landingPage/content/mainContent8.jfif);
  background-size: cover;
  background-position-x: center;

  flex: 1;
  flex-direction: column;
}
.main-menu .menu-card .card4 {
  /* border: 1px solid black; */
  background-image: url(../img/landingPage/content/mainContent10.jfif);
  background-size: cover;
  background-position-x: center;

  flex: 1;
  flex-direction: column;
}
.main-menu .menu-card .card5 {
  /* border: 1px solid black; */
  background-image: url(../img/landingPage/content/mainContent9.jfif);
  background-size: cover;
  background-position-x: -90px;

  flex: 1;
  flex-direction: column;
}
/* End Main Menu */

/* ======================================= */

/* Main Content 3 */
.main-content3 {
  /* border: 1px solid black; */
  width: 100%;
  height: 800px;
  background-color: #d0c2b6;
}

.main-content3 .img-ourcafe {
  background-image: url(../img/landingPage/content/ourcafe.jpg);
  background-size: cover;
  background-position-x: -50px;
  width: 500px;
  height: 500px;

  display: inline-block;
  position: relative;
  left: 200px;
  top: 90px;
}

.main-content3 .title-ourcafe {
  /* border: 1px solid black; */
  border-radius: 10px;
  background-color: aliceblue;
  display: inline-block;
  width: 500px;

  position: relative;
  bottom: 50px;
  left: 150px;

  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.25);
}

.main-content3 .title-ourcafe .title {
  /* border: 1px solid black; */
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  color: #997357;
  margin: 10px 20px 10px 20px;
}

.main-content3 .title-ourcafe .content {
  /* border: 1px solid black; */

  margin: 10px 20px 10px 20px;
  font-family: "Poppins", sans-serif;
}

.card-group .card-image-music1 {
  background-image: url(../img/landingPage/content/grupcardmusic1.jpg);
  background-size: cover;
  margin: 20px 10px 10px 20px;
  flex: 1;
}
.card-group .card-image-music2 {
  background-image: url(../img/landingPage/content/grupcardmusic2.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  background-position-x: -50px;
  margin: 20px 20px 10px 10px;
  flex: 1;
}
.card-group .card-image-music3 {
  background-image: url(../img/landingPage/content/grupcardmusic3.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  background-position-x: -40px;
  margin: 10px 10px 20px 20px;
  flex: 1;
}
.card-group .card-image-music4 {
  background-image: url(../img/landingPage/content/grupcardmusic4.jpg);
  background-size: cover;
  background-position-x: -60px;
  background-repeat: no-repeat;
  margin: 10px 20px 20px 10px;
  flex: 1;
}
/* End Main Content 3 */

/* .review {
  border: 1px solid black;
  width: 1000px;
  height: 300px;
  position: relative;
  top: 150px;
  left: -550px;
} */
